body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article.card {
    width: 280px;
    height: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    color: rgba(59, 28, 28, 0.4);
}

.card img.close {
    width: 1rem;
    margin: 1rem 1rem auto auto;
    opacity: .4;
}

.card img.profile {
    width: 7rem;
    border-radius: 999rem;

}

.card h1 {
    font-size: 1.3rem;
    color: rgba(0,0,0,.8);
    margin: .75rem 0 .5rem 0;
}

.card p {
    margin: 0;
    padding: 0;
}

.card button {
    padding: 1rem;
    box-sizing: border-box;
    background: rgba(0,0,0,.8);
    color: #eee;
    text-align: center;
    margin: auto .5rem 1.5rem .5rem;
    border-radius: 999rem;
    font-size: 1.2rem;
    appearance: none;
    border: none;
}

.card a:hover {
    background: rgba(0,0,0,1);
}